<div class="fields">
  <mat-form-field>
    <input matInput #name placeholder="Name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput #surname placeholder="Surname" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #street placeholder="Street">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #number placeholder="Number">
  </mat-form-field>

  <mat-form-field>
    <input matInput #profession placeholder="Profession">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #city placeholder="City" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #postCode maxlength="5" placeholder="Post Code">
    <mat-hint align="end">{{postCode.value.length}} / 5</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #country placeholder="Country" required>
  </mat-form-field>
</div>

<mat-action-row class="buttonRow">
  <button mat-button class="clear-btn" (click)="onNoClick()">Back</button>
  <button mat-button class="addPatient-btn" (click)="editPersonalInfo(name.value, surname.value, city.value, country.value, postCode.value, street.value, number.value, profession.value)">Edit patient</button>
</mat-action-row>
