@import "~variables.scss";

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formFields {
    flex: 1;
    margin: 1rem 0.8rem;
}

mat-form-field {
    display: block;
}

.calendar {
    flex: 1;
    margin: 1rem 0.8rem;
}

.hourMinute {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hourInputField {
    margin: 0 .5rem 0 0;
}

.minuteInputField {
    margin: 0 0 0 .5rem;
}

.editAppointment-btn {
    // width: 15vw;
    margin-top: 2rem;   
    background-color: $darkblue;
    color: $lightbedge;
    font-weight: bold;
    font-family: $font_nova;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: $darkblue_button_border;
}

.editAppointment-btn:hover{
    cursor: pointer;
    background-color: white;
    color: $darkblue;
}

.editAppointment-btn:disabled {
    background-color: $gray;
    border-color: $gray;
}
