<form class="form" [formGroup]="form" (ngSubmit)="editAppointment(form.value)">
  <div class="formFields">
    <mat-form-field>
      <mat-select #userSelection placeholder="Doctor" formControlName="doctor" [(ngModel)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user?.name }} {{user?.surname}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['doctor'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select #patientSelection placeholder="Patient" formControlName="patient" [(ngModel)]="selectedPatient">
        <mat-option *ngFor="let patient of patients" [value]="patient">
          {{ patient?.personalInfo.name }} {{patient?.personalInfo.surname }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['patient'].hasError('required')">You must enter a value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput #description placeholder="Description" formControlName="description" [ngModel]="appointment.description"></textarea>
    </mat-form-field>
  </div>
  <div class="calendar">
    <div class="hourMinute">
      <mat-form-field class="hourInputField">
        <input matInput #hour placeholder="Hour" type="number" formControlName="hour" [ngModel]="appointment.hour">
        <mat-error *ngIf="form.controls['hour'].hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="form.controls['hour'].hasError('max')">Value must be lower than 24</mat-error>
        <mat-error *ngIf="form.controls['hour'].hasError('min')">Value must be higher or equal to 0</mat-error>
      </mat-form-field>
      <mat-form-field class="minuteInputField">
        <input matInput #minute placeholder="Minute" type="number" formControlName="minute" [ngModel]="appointment.minute">
        <mat-error *ngIf="form.controls['minute'].hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="form.controls['minute'].hasError('max')">Value must be lower than 60</mat-error>
        <mat-error *ngIf="form.controls['minute'].hasError('min')">Value must be higher or equal to 0</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput #datePicker [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" [ngModel]="appointment.date">
      <mat-error *ngIf="form.controls['date'].hasError('required')">You must enter a value</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button class="editAppointment-btn" type="submit" [disabled]="!form.valid">Edit appointment</button>
    </div>
  </div>
</form>