<div class="dashboardStatsScreen">
    <div class="wrapper">
        <div class="stats-wrapper">
            <div class="stats">
                stat 1
            </div>
            <div class="stats">
                stat 2
            </div>
            <div class="stats">
                stat 3
            </div>
        </div>
        <div class="page-buttons-wrapper">
            <div class="pageBtn">
                add user btn
            </div>
            <div class="pageBtn">
                add user btn
            </div>
            <div class="pageBtn">
                add user btn
            </div>
        </div>
    </div>
</div>