<div class="addPatientScreen">

  <div class="add-patient-form">

    <h3 class="addPatientTitle">Add Patient</h3>

    <!--Personal information-->
    <form class="inputForm" #addPatientForm [formGroup]="form" (submit)="addPatient(form.value); addPatientForm.reset()">
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Enter patient's personal information
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="fieldsWrapper">
          <mat-form-field>
            <input matInput #name placeholder="Name" formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('required')">You must enter a value</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput #surname placeholder="Surname" formControlName="surname">
            <mat-error *ngIf="form.controls['surname'].hasError('required')">You must enter a value</mat-error>
          </mat-form-field>

          <mat-form-field class="dpInput">
            <input matInput #dateOfBirth [matDatepicker]="dbpicker" placeholder="Date of birth" formControlName="date">
            <mat-error *ngIf="form.controls['date'].hasError('required')">You must enter a value</mat-error>
            <mat-datepicker-toggle matSuffix [for]="dbpicker"></mat-datepicker-toggle>
            <mat-datepicker #dbpicker></mat-datepicker>
          </mat-form-field>

          <!--Personal information - address-->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Address
              </mat-panel-title>
              <mat-panel-description>
                Enter patient's address
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #city placeholder="City" formControlName="city">
                    <mat-error *ngIf="form.controls['city'].hasError('required')">You must enter a value</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #country placeholder="Country" formControlName="country">
                    <mat-error *ngIf="form.controls['country'].hasError('required')">You must enter a value</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #postCode maxlength="5" placeholder="Post Code" formControlName="postCode">
                    <mat-hint align="end">{{postCode.value.length}} / 5</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #street placeholder="Street" formControlName="street">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #number placeholder="Number" formControlName="streetNr">
                  </mat-form-field>
                </td>
              </tr>
            </table>

          </mat-expansion-panel>

          <mat-form-field>
            <input matInput #profession placeholder="Profession" formControlName="profession">
          </mat-form-field>
        </div>

        <mat-action-row>
            <button mat-raised-button class="clear-btn" (click)="addPatientForm.reset()">Clear form</button>
            <button mat-raised-button type="submit" class="addPatient-btn" [disabled]="!form.valid">Add patient</button>
        </mat-action-row>

      </mat-expansion-panel>
    </form>
  </div>
</div>
