<div class="appointmentListScreen">

  <div class="appointmentListForm">

    <h3 class="appointmentListTitle">List of Appointments</h3>

    <!--Set new appointment button-->
    <div class="buttons">
      <button mat-button class="setAppointmentBtn" (click)="newAppointment()">New appointment</button>
    </div>

     <!-- Filter -->
    <mat-form-field>
      <mat-select placeholder="Period" [(ngModel)]="selectedPeriod" name="period" (change)="getAppointments(selectedPeriod)">
        <mat-option *ngFor="let period of periods" [value]="period">
          {{period}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- List -->
    <table class="appointmentsTable" matSort (matSortChange)="sortData($event)">
      <tr class="appointmentsHeader">
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="time">Time</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="surname">Surname</th>
        <th mat-sort-header="description">Description</th>
        <th mat-header="action">Action</th>
      </tr>

      <tr class="appointmentsRow" *ngFor="let appointment of sortedAppointments">
        <td>{{ appointment?.dateTime.getDate()}}-{{appointment?.dateTime.getMonth()+1}}-{{appointment?.dateTime.getFullYear()}}</td>
        <td *ngIf="appointment?.dateTime.getHours() >= 10 && appointment?.dateTime.getMinutes() >= 10">{{ appointment?.dateTime.getHours()}}:{{appointment?.dateTime.getMinutes()}}</td>
        <td *ngIf="appointment?.dateTime.getHours() < 10 && appointment?.dateTime.getMinutes() >= 10">0{{ appointment?.dateTime.getHours()}}:{{appointment?.dateTime.getMinutes()}}</td>
        <td *ngIf="appointment?.dateTime.getHours() >= 10 && appointment?.dateTime.getMinutes() < 10">{{ appointment?.dateTime.getHours()}}:0{{appointment?.dateTime.getMinutes()}}</td>
        <td *ngIf="appointment?.dateTime.getHours() < 10 && appointment?.dateTime.getMinutes() < 10">0{{ appointment?.dateTime.getHours()}}:0{{appointment?.dateTime.getMinutes()}}</td>
        <td>{{ appointment?.patient.personalInfo.name }}</td>
        <td>{{ appointment?.patient.personalInfo.surname }}</td>
        <td>{{ appointment?.description }}</td>
        <td class="editDeleteBtns">
          <button class="editBtn" (click)="openDialog(appointment)">Edit</button>
          <button class="deleteBtn" (click)="deleteAppointment(appointment)">Delete</button>
        </td>
      </tr>
    </table>

  </div>

</div>
