//SCSS variables
$darkblue: #091540;
$lightgreen: #b4e7ce;
$lightgray: #e5e6e4;
$lightbedge: #fbfbf2;
$orange: #ff6f17;
$font_nova: 'Nova Flat';
$darkblue_button_border: 0.125rem solid $darkblue;
$orange_button_border: 0.125rem solid $orange;
$orange_border: 0.19rem solid $orange;
$darkblue_border: 0.19rem solid $darkblue;

.register-screen {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.app-register-form {
    background: $lightgray;
    border: $darkblue_border;
    border-radius: 0.4rem;
    padding: 1.25rem 1.25rem;
    flex: 0.29; 
}

.registerTitle {
    font-family: $font_nova;
    margin: 1.9rem 0.625rem;
    text-align: center;
}

.inputForm {
    font-family: $font_nova;
    margin: 1.25rem 1.25rem; 
}

.buttons {
    margin-top: 2.5rem;
    text-align: center;
}

.registerAndLog-btn {
    width: 20vw;
    margin: 1rem;   
    padding: 0.5rem 1rem;
    background-color: $darkblue;
    color: $lightbedge;
    font-weight: bold;
    border-radius: 0.4rem;
    border: $darkblue_button_border;
}
.back-btn {
    width: 20vw;
    margin: 1rem;   
    padding: 0.5rem 1rem;
    background-color: $darkblue;
    color: $lightbedge;
    font-weight: bold;
    border-radius: 0.4rem;
    border: $darkblue_button_border;
}

.registerAndLog-btn:hover, .back-btn:hover{
    cursor: pointer;
    background-color: white;
    color: $darkblue;
}