@import "~variables.scss";

.login-screen {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.app-login-form {
    background: $lightgray;
    border: $darkblue_border;
    border-radius: 0.4rem;
    padding: 1.25rem 2.5rem;
    width: 33vw; 
}

.loginTitle {
    font-family: $font_nova;
    margin: 1.9rem 0.625rem;
    text-align: center;
}

.inputForm {
    font-family: $font_nova;
    margin: 1.25rem 1.25rem; 
}

mat-form-field {
    margin-bottom: 0.5rem;
    display: block;
}

.buttons {
    margin-top: 2rem;
    text-align: center;
    display: block;
}

.login-btn, .register-btn {
    width: 35%;
    margin: 1rem;   
    padding: 0 1rem;
    background-color: $darkblue;
    color: $lightbedge;
    font-weight: bold;
    font-family: $font_nova;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    border: $darkblue_button_border;
}


#last {
    margin-bottom: 0;
}

.login-btn:hover, .register-btn:hover {
    cursor: pointer;
    background-color: white;
    color: $darkblue;
}

.disabled-btn, .disabled {
 color:red;
}
