<div class="dashboardStatsScreen">
        <div class="wrapper">
            <div class="stats-wrapper">
                <div class="stats">
                    <span>stat 1</span>
                </div>
                <div class="stats">
                    <span>stat 2</span>
                </div>
                <div class="stats">
                    <span>stat 3</span>
                </div>
            </div>
            <div class="page-buttons-wrapper">
                <div class="pageBtn">
                    <span>Add Patient</span>
                </div>
                <div class="pageBtn">
                    <span>Find Patient</span>
                </div>
                <div class="pageBtn">
                    <span>Set Appointment</span>
                </div>
            </div>
        </div>
    </div>