<div class="dashboardStatsScreen">
    <div class="wrapper">
        <div class="stats-wrapper">
            <app-stats-number
                [statsTitle]="numberOfPatientsTitle"
                [stats]="numberOfPatients">
            </app-stats-number>
            <app-stats-number
                [statsTitle]="numberOfTherapiesTitle"
                [stats]="numberOfTherapies">
            </app-stats-number>
            <app-appointments-today
                [appointmentsTodayTitle]="appointmentsTodayTitle"
                [noAppointment]="noAppointment"
                [appointmentsToday]="appointmentsToday">
            </app-appointments-today>
        </div>
        <div class="page-buttons-wrapper">
            <div class="pageBtn" (click)="goToAddPatient()">
                <span>Add Patient</span>
            </div>
            <div class="pageBtn" (click)="goToFindPatients()">
                <span>Find Patient</span>
            </div>
            <div class="pageBtn" (click)="goToSetAppointment()">
                <span>Set Appointment</span>
            </div>
        </div>
    </div>
</div>
