@import "~variables.scss";

.dashboardStatsScreen {
    margin-left: 12.5rem;
    margin-top: 8rem;
    display: flex;
    font-family: $font_nova;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-wrapper, .page-buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats, .pageBtn, .appointmentsStats {
    width: 20vw;
    height: 28vh;
    margin: 1rem;
    border: $darkblue_border;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.statsTitle {
    margin-bottom: 0.8rem;
}

.pageBtn {
    background: $lightgray;
    border: 0.25rem solid $darkblue;
    font-style: italic;
    justify-content: center;
    font-size: 1.8rem;
}

.pageBtn:hover {
    background: white;
    font-weight: bold;
    cursor: pointer;
}

#numberInStats {
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .stats-wrapper, .page-buttons-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .stats, .pageBtn, .appointmentsStats {
        width: 33vw;
        height: 30vh;
        border: $darkblue_border;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 1rem;
    }

    @media screen and (max-width: 700px) {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .stats-wrapper, .page-buttons-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .stats, .pageBtn, .appointmentsStats {
            width: 60vw;
            height: 12vh;
            border: $darkblue_border;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 1rem;
        }
    }
}
